<h1>Data Mobil</h1>

<p><b>ID : </b><%= @mobil.id %></p>
<p><b>Nama : </b><%= @mobil.nama %></p>
<p><b>Merk : </b><%= @mobil.merk %></p>
<p><b>Warna : </b><%= @mobil.warna %></p>
<p><b>Harga : </b><%= @mobil.harga %></p>
<p><b>Keterangan : </b><%= status_converter(@mobil.keterangan) %></p>

