<h1>Data Pelanggan</h1>

<p><b>ID : </b><%= @pelanggan.id %></p>
<p><b>Nama : </b><%= @pelanggan.nama %></p>
<p><b>Alamat : </b><%= @pelanggan.alamat %></p>
<p><b>Jenis Kelamin : </b><%= @pelanggan.jenis_kelamin %></p>
<p><b>No Telp : </b><%= @pelanggan.no_telp %></p>